{
	padding: 0px;
	margin: 0px;

}
body{
	font-family: serif;
	font-size: 14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: sans-serif;
}
a, a:hover{
	text-decoration: none;
}
.header{
	width: 100%;
	height: 150px;
	float: left;
	background:#fff;
}
.container{
	width: 1140px;
	margin: 0px auto;

}
 .box-1{
	width: 20%;
	float: left;
	
}
 .box-2{
	width:80%;
	float: left;
	
}
.navbar{
	width: 100%;
	float: left;
	display: block;
	margin: 25px 0px 0px;
	text-align: right;

}
.navbar li{
	list-style: none;
	display: inline-block;
}
.navbar li a{
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0px 20px;
	color:#000;
}
.navbar li a:hover{
	color: #08c;
}
/*this is comments */
	
.banner{
	width: 100%;
	float:left;
	height: 400px;
	background:#191919;
}
.banner .box1{
	width: 50%;
	float: left;
	background: #fff;
	padding: 40px 00px 0px;
	
}
.banner .box1{
	font-size: 40px;
	line-height: 66px;
	color: #3F3D56;
	font-weight: 700;
	text-align:center ;
	}
.banner .box1 p{
	font-size: 18px;
	line-height: 28px;
	color: #F15767;
	font-weight: 400;
	text-align:center ;
	}
.banner .box2{
	width: 50%;
	height: 400px;
	float: left;	
	background: #fff;
}

.banner .box2 img{
	width: 50%;
	height:400px;
}
.service{
	width: 100%;
	height: 600px;
	float: left;
	background: #555;
}
.service .box-3{
	width: 33.33%;
	height: 600px;
	background: #14A800;
	float: left;
	padding: 40px 0px 0px;
}
.service .box-4{
	width: 33.33%;
	height: 600px;
	background: #b3ffb3;
	float: left;
	padding: 40px 0px 0px;
}

.service .box-5{
	width: 33.33%;
	height: 600px;
	background: #001a00;
	float: left;
	padding: 40px 0px 0px;
}
.footer{
	width: 100%;
	height: 100px;
	background:black;
	float: left;

}